<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.admin.mapper.SysStudentCourseMapper">

    <select id="getList" resultType="com.springboot.admin.entity.SysStudentCourse">
        select s_id,
               s_name,
               sum(if(c_name = '数学', grade, 0)) as 'math', sum(if(c_name = 'Java', grade, 0)) as 'java', sum(if(c_name = '英语', grade, 0)) as 'English', sum(if(c_name = '体育', grade, 0)) as 'ET'
        from (select ss.s_id, s_name, c_name, grade
              from sys_student ss
                       left join sys_student_course ssc on ss.s_id = ssc.s_id
                       left join sys_course sc on ssc.c_id = sc.c_id) as temp
        group by s_name
        order by s_id
    </select>

    <select id="getByName" resultType="com.springboot.admin.entity.SysStudentCourse">
        select s_id,
               s_name,
               sum(if(c_name = '数学', grade, 0)) as 'math', sum(if(c_name = 'Java', grade, 0)) as 'java', sum(if(c_name = '英语', grade, 0)) as 'English', sum(if(c_name = '体育', grade, 0)) as 'ET'
        from (select ss.s_id, s_name, c_name, grade
              from sys_student ss
                       left join sys_student_course ssc on ss.s_id = ssc.s_id
                       left join sys_course sc on ssc.c_id = sc.c_id) as temp
        where s_id = #{s_id}
        group by s_name
        order by s_id
    </select>

    <select id="getByClassId" resultType="com.springboot.admin.entity.SysStudentCourse">
        select s_id,
               s_name,
               class_id,
               sum(if(c_name = '数学', grade, 0)) as 'math', sum(if(c_name = 'Java', grade, 0)) as 'java', sum(if(c_name = '英语', grade, 0)) as 'English', sum(if(c_name = '体育', grade, 0)) as 'ET'
        from (select ss.s_id, s_name, c_name, grade, ss.class_id
              from sys_student ss
                       left join sys_student_course ssc on ss.s_id = ssc.s_id
                       left join sys_course sc on ssc.c_id = sc.c_id
                       left join sys_class on ss.class_id = sys_class.class_id) as temp
        where class_id = #{class_id}
        group by s_name
        order by s_id
    </select>

    <select id="getAvg" resultType="com.springboot.admin.entity.AVGEntity">
        SELECT avg(math) AS 'avgMath', avg( java ) AS 'avgJava', avg( English ) AS 'avgEnglish', avg( ET ) AS 'avgET', avg( math + java + English + ET ) AS 'avgAll'
        FROM (SELECT *,
                     sum(math + java + English + ET) AS 'COUNT'
              FROM (SELECT s_id,
                           sum(
                                   IF
                                       (c_name = '数学', grade, 0)) AS 'math', sum(
                          IF
                              (c_name = 'Java', grade, 0)) AS 'java', sum(
                          IF
                              (c_name = '英语', grade, 0)) AS 'English', sum(
                          IF
                              (c_name = '体育', grade, 0)) AS 'ET'
                    FROM (SELECT ss.s_id,
                                 s_name,
                                 c_name,
                                 grade,
                                 ss.class_id
                          FROM sys_student ss
                                   LEFT JOIN sys_student_course ssc ON ss.s_id = ssc.s_id
                                   LEFT JOIN sys_course sc ON ssc.c_id = sc.c_id
                                   LEFT JOIN sys_class ON ss.class_id = sys_class.class_id) AS temp
                    WHERE class_id = (SELECT class_id FROM sys_student WHERE s_id = #{s_id})
                    GROUP BY s_name) AS temp1
                       LEFT JOIN sys_student USING (s_id)
              GROUP BY s_id
              ORDER BY COUNT DESC) as temp2
    </select>

    <update id="setMath">
        update sys_student_course set grade = #{grade} where s_id = #{s_id} and c_id = 1
    </update>

    <update id="setJava">
        update sys_student_course set grade = #{grade} where s_id = #{s_id} and c_id = 2
    </update>

    <update id="setEnglish">
        update sys_student_course set grade = #{grade} where s_id = #{s_id} and c_id = 3
    </update>

    <update id="setET">
        update sys_student_course set grade = #{grade} where s_id = #{s_id} and c_id = 4
    </update>

</mapper>
